

<web-app>


<servlet>
<servlet-name>abhi</servlet-name>
<servlet-class>login</servlet-class>
</servlet>



<servlet>
<servlet-name>abhi2</servlet-name>
<servlet-class>logi2</servlet-class>
</servlet>

<servlet>
<servlet-name>abhi3</servlet-name>
<servlet-class>insert1</servlet-class>
</servlet>

<servlet>
<servlet-name>abhi4</servlet-name>
<servlet-class>ShowAll</servlet-class>
</servlet>

<servlet>
<servlet-name>abhi5</servlet-name>
<servlet-class>serach</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abhi</servlet-name>
<url-pattern>/aaa</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>abhi2</servlet-name>
<url-pattern>/lg</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>abhi3</servlet-name>
<url-pattern>/ins1</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>abhi4</servlet-name>
<url-pattern>/ShowAll</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>abhi5</servlet-name>
<url-pattern>/src</url-pattern>
</servlet-mapping>

</web-app>

